<!DOCTYPE html>
<html>
   <head>
      <title>Add Profile</title>
   </head>
   <body>
      <h3>Profile form</h3>
      <form action="/add" method="POST">
         <label>Name</label>
         <input type="text" name="Name" placeholder="first name...">
         <label>Last Name</label>
         <input type="text" name= "Surname" placeholder="last name...">
         <label>Grade</label>
         <input type="number" name="Grade" placeholder="Grade">
         <label>Class</label>
         <input type="number" name="Class" placeholder="Grade">
         <label>Gender</label>
         <input type="number" name="Gender" placeholder="Gender">
         <label>Parent</label>
         <input type="number" name="Parent" placeholder="Gender">
         <label>Reg Number</label>
         <input type="number" name="Student_reg" placeholder="Reg">
         <label>DOB</label>
         <input type="number" name="Dob" placeholder="DOB">

         <button type="submit">Add</button>
      </form>
   </body>
</html>